@{
    ViewData["Title"] = "";
}
@if (TempData["Message"] != null)
{
        <div style="position: absolute; z-index: 2; width: 80%; left: 50%; transform: translate(-50%, -50%);" id="myBlock" class="fade-out-transition alert alert-danger">
        @TempData["Message"]
        </div>

        <style>
          .fade-out-transition {
            opacity: 1;
            transition: opacity 1s;
          }

          .fade-out-transition.fade-out {
            opacity: 0;
          }
        </style>

        <script>
          setTimeout(function() {
            const myBlock = document.getElementById("myBlock");
            myBlock.classList.add("fade-out");
          }, 3000);

          const myBlock = document.getElementById("myBlock");
          myBlock.addEventListener("transitionend", function() {
            myBlock.style.display = "none";
          });
        </script>
}
@using BusinessLogics.ViewModels;
@model UserVM

<div class="row">
    <div class="col-md-6">
         <img src="@(Model.AvatarPath == "noimage" ? "/Files/avatar.jpg" : @Model.AvatarPath)" maxwidth="80%" height="80%" />
    </div>
    <div class="col-md-6">
        <br />
        <div>
            <h5 style="margin-bottom: 20px;" class="display-4">@Model.Nickname</h5>
        </div>
        <div class="row text-center" style="margin-bottom: 20px;">
            <div class="col-4">Подписчики: @ViewBag.Followers</div>
            @if(Session.User != null){
               if (ViewBag.IsFolowing)
               {
                   <a class="col-4 btn btn-danger" asp-route-userIdFollower="@Session.User.Id" asp-route-userIdFollowing="@Model.Id" asp-action="UnfollowUser">Отписаться</a>
               }
               else
               {
                   <a class="col-4 btn btn-dark" asp-route-userIdFollower="@Session.User.Id" asp-route-userIdFollowing="@Model.Id" asp-action="FollowUser">Подписаться</a>
               }
            }
            
        </div>
        <div class="row text-center">
            <a class="col-4 btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="CooksRecipes" asp-route-userId="@Model.Id">Рецепты от "@Model.Nickname"</a>
            <a class="col-4 btn btn-outline-dark" style="margin-left: 20px;" asp-area="" asp-controller="Home" asp-action="CooksSelections" asp-route-userId="@Model.Id">Подборки от "@Model.Nickname"</a>
        </div> 
    </div>
</div>





