

<div class="container">
    <h1>Список кулинаров</h1>

    <ul class="nav nav-tabs" id="userTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="allUsers-tab" data-toggle="tab" href="#allUsers" role="tab" aria-controls="allUsers" aria-selected="true">Все кулинары</a>
        </li>
        @if(Session.User != null)
        {
            <li class="nav-item">
                <a class="nav-link" id="myFollowers-tab" data-toggle="tab" href="#myFollowers" role="tab" aria-controls="myFollowers" aria-selected="false">Мои подписчики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mySubscriptions-tab" data-toggle="tab" href="#mySubscriptions" role="tab" aria-controls="mySubscriptions" aria-selected="false">Мои подписки</a>
            </li>
        }
    </ul>

    <div class="tab-content" id="userTabsContent">
        <div class="tab-pane fade show active" id="allUsers" role="tabpanel" aria-labelledby="allUsers-tab">
            <h2>Все кулинары</h2>
            <ul>
                @foreach (var user in ViewBag.AllUsers)
                {
                    <li>
                        <img src="@user.AvatarPath" width="50" height="50" />
                        <a asp-area="" asp-controller="Home" asp-action="Cook" asp-route-userId="@user.Id">@user.Nickname</a>
                    </li>
                }
            </ul>
        </div>

        <div class="tab-pane fade" id="myFollowers" role="tabpanel" aria-labelledby="myFollowers-tab">
            <h2>Мои подписчики</h2>
            <ul>
                @foreach (var user in ViewBag.MyFollowers)
                {
                    
                    <li>
                        <img src="@user.AvatarPath" width="50" height="50" />
                        <a asp-area="" asp-controller="Home" asp-action="Cook" asp-route-userId="@user.Id">@user.Nickname</a>
                    </li>
                }
            </ul>
        </div>

        <div class="tab-pane fade" id="mySubscriptions" role="tabpanel" aria-labelledby="mySubscriptions-tab">
            <h2>Мои подписки</h2>
            <ul>
                @foreach (var user in ViewBag.MySubscriptions)
                {
                    <li>
                        
                        <img src="@user.AvatarPath" width="50" height="50" />
                        <a asp-area="" asp-controller="Home" asp-action="Cook" asp-route-userId="@user.Id">@user.Nickname</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
