@model IndexViewModelForRecipes
@{
    int selectionId = ViewBag.Selection.Id;
}
<h2>@ViewBag.Selection.Name</h2>
<label for="myCheckbox">Приватная подборка</label>
<input type="checkbox" id="myCheckbox" name="myCheckbox" @(ViewBag.Selection.IsPrivate ? "checked" : "") @*asp-area="" asp-controller="Home" asp-action="SelectionChangeAccess" asp-route-selectionId="@ViewBag.Selection.Id"*@ />

<h2>Рецепты</h2>
@{
    int itemsPerColumn = (int)Math.Ceiling(Model.Recipes.Count() / 2.0); // Количество элементов в каждом столбце
}
<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-6">
            @for (int i = 0; i < itemsPerColumn && i < Model.Recipes.Count(); i++)
            {
                var recipe = Model.Recipes.ElementAt(i);
                <div class="card mb-3" style="max-width: 100%; background-color: #e8d3b3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="@recipe.ImagePath" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text">Время приготовления: @recipe.Timing.ToString("t")</p>
                        <p class="card-text"><small class="text-muted">Кол-во порций: @recipe.PortionAmount</small></p>
                        <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Recipe" asp-route-recipeId="@recipe.Id">Подробнее</a>
                        <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="DeleteRecipeFromSelection" asp-route-recipeId="@recipe.Id" asp-route-selectionId="@ViewBag.Selection.Id">Удалить</a>
                      </div>
                    </div>
                  </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            @for (int i = itemsPerColumn; i < Model.Recipes.Count(); i++)
            {
                var recipe = Model.Recipes.ElementAt(i);
                <div class="card mb-3" style="max-width: 100%; background-color: #e8d3b3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="@recipe.ImagePath" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text">Время приготовления: @recipe.Timing.ToString("t")</p>
                        <p class="card-text"><small class="text-muted">Кол-во порций: @recipe.PortionAmount</small></p>
                        <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Recipe" asp-route-recipeId="@recipe.Id">Подробнее</a>
                        <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="DeleteRecipeFromSelection" asp-route-recipeId="@recipe.Id" asp-route-selectionId="@ViewBag.Selection.Id">Удалить</a>
                      </div>
                    </div>
                  </div>
                </div>
            }
        </div>
    </div>
</div>


@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Selection" asp-route-selectionId="@ViewBag.Selection.Id"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Selection" asp-route-selectionId="@ViewBag.Selection.Id"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)" 
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // При изменении состояния чекбокса
        $("#myCheckbox").change(function () {
            var isChecked = $(this).is(":checked"); // Проверяем, отмечен ли чекбокс

            // Выполняем AJAX-запрос к серверу
            $.ajax({
                type: "POST", // Или "GET" в зависимости от вашего контроллера
                url: "SelectionChangeAccess",
                data: { isPrivate: isChecked, selectionId : @selectionId }, // Отправляем состояние чекбокса на сервер
                success: function (response) {
                    // Вы можете выполнить какие-либо дополнительные действия на клиентской стороне после успешного выполнения запроса
                },
                error: function (error) {
                    // Обработка ошибки, если что-то пошло не так
                }
            });
        });
    });
</script>